schemas/XMLSchemaForJapaneseLaw_v3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Law">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LawNum" type="xs:string" />
        <xs:element name="LawBody" type="xs:anyType" />
      </xs:sequence>
      <xs:attribute name="Era" type="xs:string" use="required" />
      <xs:attribute name="Year" type="xs:string" use="required" />
      <xs:attribute name="Num" type="xs:string" use="required" />
      <xs:attribute name="LawType" type="xs:string" use="required" />
      <xs:attribute name="Lang" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
